.grid-container {
  display:grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 33vh 33vh 33vh;
  grid-gap: 2px;
  text-align: center;
  color: white;
  grid-template-areas:
            ". . ."
            "t img ."
            "t . end";
}

.grid-item {
  padding: 100px;
}

h1 {
  color: gold;
  font-size: 50px;
}

#About {
  background-image: url(blue.jpg);
}

#front {
  background: url(astronomy.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#resume {
  background: url(Pic.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#links {
  background: url(moonset.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

img {
  max-width: 30%;
  max-height: 10%;
  display: block;
  margin: auto;
}

header {
  display: inline;
  margin: auto;
  font-size: 20px;
}

i {
  color: gold;
  text-align: center;
  margin-top: auto;
  font-size: 100px;
}

p {
  color: gold;
  font-size: 20px;
}

em {
  color: lightblue;
  font-size: 25px;
}

h2 {
  color: red;
}

a {
  color: white;
}

footer {
  color: green;
  text-align: left;
}

.logo-img{
  float: left;
  margin: 10px 10px 10px 10px;
  height: 75px;
}

.grid-logo{
    margin: 10px 10px 10px 10px;
  height: 75px;
}

li {
  color: orange;
  font-size: 20px;
  text-align: left;
}

.header-title {
  margin: auto;
}

.name {
  text-align: center;
}

.rg {
  display: inherit;
  position: relative;
  width: auto;
  padding: 15px;
  background-color: gray;
  font-size: 20px;
}

.link {
  color: lightblue;
  text-decoration: none;

}

.link:hover {
  color: white;
  transition: .2s;
  background: black;
  padding: 15px;
}

.NA:hover {
  color: White;
  text-align: right;
}

.resume {
  text-align: center;
  text-decoration: none;
}

.navfh {
  text-align: right;
  background: none;
  display: inherit;
  width: auto;
  padding: 15px;
  font-size: 20px;
}

.fh:hover {
  color: white;
  transition: .2s;
  background: gold;
  padding: 15px;
}

.fh {
  text-decoration: none;
}

.c:hover {
color: Yellow;
background-color: none;
}

.c {
  text-shadow: yellow;
  text-align: center;
  text-decoration: none;
}

.lcm {
  text-align: center;
}
