.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: green;
}
.grid-item {
  background-color: yellow;
  padding: 35px;
}

h1 {
  color: gold;
  font-size: 50px;
}

body {
    background-image: url('blue.jpg');
    margin: auto;
}

img {
  max-width: 30%;
  max-height: 10%;
  display: block;
  margin: auto;
}

header {
  display: inline;
  margin: auto;
  font-size: 20px;
}

i {
  color: bisque;
  text-align: center;
  margin-top: auto;
  font-size: 100px;
}

p {
  color: gold;
  font-size: 20px;
}

em {
  color: lightblue;
  font-size: 25px;
}

h2 {
  color: red;
}

a {
  color: white;
}

footer {
  color: bisque;
  text-align: left;
  background-color: green;
}

.logo-img{
  position: absolute;
  float: left;
  margin: 10px 10px 10px 10px;
  height: 180px;
}

li {
  color: orange;
  font-size: 20px;
  text-align: left;
}

.header-title {
  margin: auto;
}

.name {
  text-align: center;
}

nav {
  overflow: hidden;
  background-color: gold;
}
